/** @file
  SetupLauncher.rc

@copyright
  Copyright 2016 - 2019 Intel Corporation. All rights reserved.<BR>
  SPDX-License-Identifier: BSD-2-Clause-Patent

@par Specification Reference:

**/

1 24 "Manifest.xml"
1 ICON SetupIcon.ico
1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS 0x40004
FILETYPE 0x2
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "CompanyName", "TianoCore"
			VALUE "FileDescription", "EdkRepo Installer"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", ""
			VALUE "LegalCopyright", "Copyright (c) 2019 TianoCore Contributors"
			VALUE "OriginalFilename", "SetupLauncher.exe"
			VALUE "ProductName", "EdkRepo"
			VALUE "ProductVersion", "1.0.0.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04B0
	}
}
